{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
    <title>Skydash - Portfolios</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'assets/vendors/feather/feather.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- <link rel="stylesheet" href="assets/vendors/datatables.net-bs4/dataTables.bootstrap4.css"> -->
    <link rel="stylesheet" href="{% static 'assets/vendors/datatables.net-bs5/dataTables.bootstrap5.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/js/select.dataTables.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" />
  </head>
  <body>
   
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
    <a class="navbar-brand brand-logo me-5" href="index.html"><img src="{% static 'assets/images/logo.svg' %}" class="me-2" alt="logo" /></a>
    <a class="navbar-brand brand-logo-mini" href="index.html"><img src="{% static 'assets/images/logo-mini.svg' %}" alt="logo" /></a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
    
    <ul class="navbar-nav navbar-nav-right">
      
      <li class="nav-item nav-profile dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" id="profileDropdown">
          {% if user_profile.image %}
          <img src="{{user_profile.image.url}}" alt="profile" />
         
          {% else %}
          <img src="{% static 'assets/images/faces/face28.jpg' %}" alt="profile" />
          {% endif %}
        </a>
        
      </li>
    
    </ul>
    
    <a href="{% url 'logout' %}"><input type="submit" value="logout" class="btn btn-danger" style="margin-left: 18px;"></a>
  </div>
</nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'manage' %}">
        <i class="fa-solid fa-user menu-icon"></i>
        
        <span class="menu-title">Personal Info</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{% url 'project' %}">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Experience & Projects</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{% url 'portfolio' %}">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Your Portfolio Website</span>
      </a>
    </li>

    
  </ul>
</nav>

<div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
    
        {% block content %}

        {% endblock %}
     </div>
     </div>
     </div>

  
   
  </body>
</html>